.section {
	@extend %section;

	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

.frame {
	flex-grow: 1;
	width: 100%;
	height: 100%;
	min-height: 40rem;
	padding: 0;
	border-radius: $border-radius-medium;
}
