.wrapper {
	position: relative;
	display: block;
	width: 50rem;
	max-width: 100%;
	margin: 0 auto;
	overflow: hidden;
	line-height: 0;
	border-radius: $border-radius-medium;

	img {
		width: 100%;
		line-height: 0;
	}
}

.description {
	display: block;
	padding: 1rem;
	line-height: 150%;
	color: $color-gray-90;
	background: $color-gray-10;
}
