.cards {
	display: flex;
	flex-flow: row wrap;
	gap: 2rem;
}

.card {
	display: inline-block;
	width: 100%;
	padding: 1rem;
	background: $color-gray-05;
	border-radius: $border-radius-medium;

	@include from(medium) {
		width: calc(50% - 1rem);
	}

	@include from(large) {
		width: calc(33.3334% - 1.3333rem);
	}

	h2 {
		font-size: 1.4rem;
	}

	p:last-child {
		margin-bottom: 0;
	}
}
