.badge {
	position: relative;
	z-index: 100;
	width: 3.2rem;
	height: 3.2rem;
	margin-left: 0;
	line-height: 1.9rem;
	color: $color-white;
	text-align: center;
	background-color: $color-gray-10;
	border-radius: 50%;

	svg {
		width: 2rem;
		height: 2rem;
		margin-top: 0.5rem;
	}
}

.float {
	position: absolute;
	top: 1rem;

	@include from(medium) {
		left: 50%;
		margin-left: -1.6rem;
	}
}

.year {
	padding: 0.4rem 0;
	font-size: 0.8rem;
	line-height: 1em;
	color: $color-gray-90;
	background: $color-gray-10;
	border-radius: px(3);
}
