.item {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-top: 1rem;

	@include from(medium) {
		flex-direction: row;
	}

	strong {
		display: block;
	}
}

.who {
	display: flex;
	gap: 1rem;
	align-items: center;
	align-self: flex-start;
	order: 1;
	width: 100%;

	@include from(medium) {
		width: 40%;
	}

	@include from(large) {
		width: 30%;
	}
}

.what {
	order: 2;
	width: 100%;

	@include from(medium) {
		width: 60%;
	}

	@include from(large) {
		width: 70%;
	}
}

.odd {
	background: $color-gray-05;
}

.even {
	@include from(medium) {
		.who {
			order: 3;
		}
	}
}

.comment {
	font-size: 1.4rem;
}

.name {
	font-size: 2rem;
	color: $color-primary;
}

.function {
	font-size: 1.2rem;
}

.date,
.years {
	color: $color-gray-40;
}

.years {
	margin-top: 0.1rem;
}

.face img {
	display: block;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
}
