%container {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	width: 100%;
	padding: 0 1rem;
	margin: 0 auto;

	> *:last-child {
		margin-bottom: 0;
	}

	@include from(small) {
		max-width: 32rem;
	}

	@include from(medium) {
		max-width: 60rem;
	}

	@include from(large) {
		max-width: 88rem;
	}
}

%container-with-columns {
	column-gap: 2rem;
	align-items: center;
	justify-content: space-between;

	@include from(medium) {
		flex-direction: row;
	}
}
