$glass-bar-height: 1rem;

%glass-bar {
	position: absolute;
	left: 0;
	width: 100%;
	height: $glass-bar-height;
	content: '';
	background: rgb(0 0 0 / 10%);
}

%glass-top-bar {
	position: relative;

	&::before {
		@extend %glass-bar;

		top: -$glass-bar-height;
	}
}

%glass-bottom-bar {
	position: relative;

	&::after {
		@extend %glass-bar;

		bottom: -$glass-bar-height;
	}
}
