.bar {
	@extend %glass-top-bar;
	@extend %fabric;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 1rem;
	color: $color-white;
	text-align: center;

	animation-delay: 800ms;

	> a {
		display: block;
		margin: 0 1rem;
		font-size: 1.1rem;
		color: $color-white;
	}
}

.options {
	display: flex;
	flex-flow: row wrap;
	gap: 1rem;
	justify-content: center;
	border-radius: $border-radius-small;
}

.option {
	display: flex;
	flex-direction: row;
	width: 2rem;
	height: 2rem;
	overflow: hidden;
	color: $color-text;
	transition: width 200ms;
}

.icon {
	flex-shrink: 0;
	width: 2rem;
	height: 2rem;

	> svg {
		width: 2rem;
		height: 2rem;
		fill: $color-primary;
	}
}
