.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.content {
	position: relative;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	max-width: 100%;
	overflow: hidden;
}
