.error {
	padding: 1rem;
	margin-bottom: 1rem;
	color: $color-white;
	background: $color-error;
	border-radius: $border-radius-medium;
}

.submit {
	width: 100%;
	padding: 0.5rem 1rem;
	color: $color-white;
	outline: 0;
	background: $color-primary;
	border: 0;
	border-radius: $border-radius-medium;
}

.image {
	width: 100%;
	border-radius: $border-radius-medium;
}
