.wrapper {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 2rem;
}

.bar {
	flex-grow: 1;
	flex-shrink: 1;
	height: px(2);
	background: $color-glass;
	border-radius: px(1);
}

.title {
	margin: 0 1rem;
}
