$color-white: #ffffff;
$color-black: #000000;
$color-gray-90: #1a1a1a;
$color-gray-80: #333333;
$color-gray-70: #4d4d4d;
$color-gray-60: #666666;
$color-gray-50: #808080;
$color-gray-40: #999999;
$color-gray-30: #b3b3b3;
$color-gray-20: #cccccc;
$color-gray-10: #e6e6e6;
$color-gray-05: #f0f0f0;
$color-primary: #0e7795;
$color-primary-dark: #0b6a86;
$color-info: #64a9e8;
$color-info-dark: #5293ce;
$color-error: #e57064;
$color-error-dark: #c95c51;
$color-warning: #f8c147;
$color-warning-dark: #e3af3b;
$color-success: #8ac159;
$color-success-dark: #6fa044;
$color-glass: rgb(0 0 0 / 10%);
$color-text: #333333;
$color-red: #D00000;
