@font-face {
	font-family: Nunito;
	src: url('/fonts/Nunito-Regular.ttf');
	font-display: swap;
}

@font-face {
	font-family: Nunito;
	font-weight: bold;
	src: url('/fonts/Nunito-SemiBold.ttf');
	font-display: swap;
}

@font-face {
	font-family: Nunito;
	font-style: italic;
	src: url('/fonts/Nunito-Italic.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'Font Awesome 5 Free';
	font-style: normal;
	font-weight: 900;
	src: url('/fonts/fa-solid-900.ttf');
	font-display: block;
}

@font-face {
	font-family: material-icons-round;
	src: url('/fonts/material-icons-round.otf') format('opentype');
}
