.icon {
	display: inline-block;
	font-family: material-icons-round, serif;
	font-size: 1.2em;
	font-style: normal;
	font-weight: normal;
	vertical-align: -0.2em;
}

.icon.spin {
	animation: spin-ani 3s linear infinite;
}

@keyframes spin-ani {
	100% {
		transform: rotate(360deg);
	}
}
