%input {
	display: block;
	width: 100%;
	padding: 0.5rem;
	outline: 0;
	border: px(2) solid $color-gray-10;
	border-radius: $border-radius-medium;

	&:active,
	&:focus {
		border: px(2) solid $color-gray-60;
	}
}

.text {
	@extend %input;
}

.textbox {
	@extend %input;
}

.label {
	display: block;
	margin-bottom: 1rem;
	font-weight: bold;

	span {
		display: block;
		font-weight: normal;
	}
}

.error {
	position: relative;
	padding: 0.5rem 1rem;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	color: $color-white;
	background: $color-error;
	border-radius: $border-radius-medium;

	&::after {
		position: absolute;
		top: 0;
		left: 1.5rem;
		width: 0;
		height: 0;
		margin-top: -0.5rem;
		margin-left: -0.5rem;
		content: '';
		border: 0.5rem solid transparent;
		border-top: 0;
		border-bottom-color: $color-error;
	}
}
