$toggle-speed: 300ms;
$line-size: px(3);

.button {
	position: relative;
	display: flex;
	align-items: center;
	height: 3rem;
	padding: 0;
	margin: 0;
	color: white;
	outline: 0;
	background: transparent;
	border: 0;
}

.text {
	margin-right: 2.6rem;
}

.toggle {
	position: absolute;
	top: 50%;
	right: 0;
	width: 2rem;
	height: $line-size;
	margin: -0.1rem 0 0 -1rem;
	background: $color-white;
	border-radius: calc($line-size / 2);
	transition: background-color 0ms $toggle-speed;

	&::before,
	&::after {
		position: absolute;
		right: 0;
		width: 2rem;
		height: $line-size;
		content: '';
		background: $color-white;
		border-radius: calc($line-size / 2);
		transition:
			top $toggle-speed $toggle-speed,
			transform $toggle-speed 0ms;
	}

	&::before {
		top: -0.625rem;
	}

	&::after {
		top: 0.625rem;
	}
}

.open {
	background: transparent;

	&::before,
	&::after {
		top: 0;
		transition:
			top $toggle-speed 0ms,
			transform $toggle-speed $toggle-speed;
	}

	&::before {
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(-45deg);
	}
}
