@mixin from($breakpoint) {
	@if $breakpoint == small {
		@media (min-width: $breakpoint-small) {
			@content;
		}
	}
	@if $breakpoint == medium {
		@media (min-width: $breakpoint-medium) {
			@content;
		}
	}
	@if $breakpoint == large {
		@media (min-width: $breakpoint-large) {
			@content;
		}
	}
	@if $breakpoint == huge {
		@media (min-width: $breakpoint-huge) {
			@content;
		}
	}
}
