.item {
	position: relative;
	margin: 0 0 2rem;
	list-style: none;

	@include from(medium) {
		margin-top: -3rem;
		margin-bottom: 1rem;
	}

	&:first-child {
		margin-top: 0;
	}

	&::before,
	&::after {
		display: table;
		content: ' ';
	}

	&::after {
		clear: both;
	}
}

.panel {
	position: relative;
	float: right;
	width: calc(100% - 5rem);
	min-height: 5rem;
	padding: 1.3rem;
	background: $color-gray-05;
	border-radius: $border-radius-medium;

	@include from(medium) {
		width: 44%;
	}

	&::before {
		position: absolute;
		top: 1.5rem;
		left: -1rem;
		display: block;
		content: '';
		border-top: 1rem solid transparent;
		border-right: 1rem solid $color-gray-05;
		border-bottom: 1rem solid transparent;
		border-left-width: 0;
	}

	&--odd {
		@include from(medium) {
			float: left;

			&::before {
				right: -1rem;
				left: auto;
				border-right: 0 solid $color-gray-05;
				border-left: 1rem solid $color-gray-05;
			}
		}
	}

	h2 {
		font-size: 1.4rem;

		@include from(medium) {
			font-size: 1.8rem;
		}
	}

	& > *:last-child {
		margin-bottom: 0;
	}

	img {
		border-radius: $border-radius-medium;
	}
}
