.line {
	position: relative;
	flex: 1;
	padding: 4rem 0 3rem;
	margin-bottom: 0;
	list-style: none;

	&::before {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 1.7rem;
		width: px(3);
		margin-left: px(-1.5);
		content: ' ';
		background-color: $color-gray-05;

		@include from(medium) {
			left: 50%;
		}
	}
}
