.section {
	@extend %section;

	background-color: $color-gray-05;
}

.container {
	@extend %container;
	@extend %container-with-columns;

	@include from(large) {
		column-gap: 6rem;
	}
}

.intro {
	font-size: 1.1rem;

	@include from(medium) {
		font-size: 1.3rem;
	}
}

.image {
	width: 100%;
	border-radius: $border-radius-medium;

	@include from(medium) {
		width: 30rem;
	}
}

.image-column {
	flex-shrink: 0;
}
