.layout {
	display: flex;
	flex-grow: 1;
}

.form {
	flex-shrink: 0;
	width: 16rem;
	padding: 2rem;

	@include from(small) {
		width: 20rem;
	}

	@include from(medium) {
		width: 24rem;
	}

	@include from(large) {
		width: 28rem;
	}
}
