.section {
	@extend %section;

	padding-bottom: 3rem;
}

.container {
	@extend %container;
	@extend %container-with-columns;

	flex-wrap: wrap;
	align-items: flex-start;
}

.image {
	width: 100%;
	margin-bottom: 2rem;
	border-radius: $border-radius-medium;

	@include from(medium) {
		width: calc(50% - 1rem);
	}

	@include from(large) {
		width: calc(33.3% - 1.34rem);
	}
}
