.list {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	width: 100%;
}

.card {
	display: block;
	width: 100%;
	overflow: hidden;
	background: $color-gray-05;
	border-radius: $border-radius-medium;

	&:hover {
		text-decoration: none;
	}

	@include from(medium) {
		width: calc(50% - 1rem);
	}

	@include from(large) {
		width: calc(33.333% - 1.3334rem);
	}

	img {
		position: relative;
		width: 100%;
		height: 14rem;
		object-fit: cover;
		object-position: 50% 50%;
	}
}

.content {
	padding: 1rem;

	h2 {
		margin-bottom: 0;
		font-size: 1.1rem;
	}

	span {
		display: block;
		margin-bottom: 0.5rem;
		font-size: 0.8rem;
		color: $color-gray-60;
	}

	p {
		margin-bottom: 0;
		color: $color-gray-70;
	}
}
