.container {
	@extend %container;

	max-width: 50rem;

	h1 {
		text-align: center;
	}

	p,
	li {
		font-size: 1.1rem;
		color: #222222;
	}

	strong {
		color: #000000;
	}

	.date {
		font-size: 1rem;
		font-style: italic;
		text-align: center;
	}
}
