h1,
h2,
h3 {
	margin: 0 0 1rem;
	font-weight: bold;
	color: $color-primary;
}

h1 {
	font-size: 1.6rem;

	@include from(medium) {
		font-size: 2.2rem;
	}
}

h2 {
	font-size: 1.4rem;

	@include from(medium) {
		font-size: 1.8rem;
	}
}

h3 {
	font-size: 1.2rem;

	@include from(medium) {
		font-size: 1.4rem;
	}
}
