.wrapper {
	position: relative;
	padding: 0;
	margin: 0 0 1rem;
	overflow: hidden;
	line-height: 0;
	outline: 0;
	background: transparent;
	border: 0;
	border-radius: $border-radius-medium;

	img {
		width: 100%;
	}
}

.icon {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 4rem;
	height: 2.8rem;
	margin: -1.4rem 0 0 -2rem;
	fill: $color-primary;
}
