.wrapper {
	position: relative;
	height: 12rem;
	overflow: hidden;
	background: $color-primary;
}

.headshot {
	position: absolute;
	bottom: 0;
	left: -0.5rem;
	z-index: 11;
	height: 11rem;

	img {
		width: 13rem;
	}

	@include from(small) {
		left: auto;
	}
}

.content {
	@extend %container;
	display: flex;

	flex-direction: row;
	align-items: center;
	height: 12rem;
}

.title-block {
	position: relative;
	z-index: 11;
	padding-left: 9.5rem;

	@include from(small) {
		padding-left: 12rem;
	}

	@include from(medium) {
		padding-left: 13rem;
	}
}

.name {
	margin-bottom: 0;
	font-size: 1.2rem;
	color: $color-white;

	@include from(small) {
		font-size: 1.6rem;
	}

	@include from(medium) {
		font-size: 2.4rem;
	}
}
