.container {
	width: 1em;
}

.title {
	font-size: 1rem;
	text-align: center;
}

.flip {
	position: relative;
	width: 1em;
	height: 1em;
	font-size: 1em;
	color: $color-white;
}

.old-top,
.new-top,
.new-bottom,
.old-bottom {
	position: absolute;
	left: 0;
	display: block;
	width: 100%;
	height: 50%;
	font-size: 0.5em;
	text-align: center;
	background: linear-gradient(
		10deg,
		rgb(30 30 30 / 100%) 0%,
		rgb(50 50 50 / 100%) 15%,
		rgb(40 40 40 / 100%) 68%,
		rgb(30 30 30 / 100%) 100%
	);
	animation-duration: 600ms;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.old-top,
.new-top {
	top: 0;
	padding-top: 0.333em;
	border-bottom: 0;
	border-radius: 0.15em 0.15em 0 0;
}

.old-top {
	z-index: 2;
	transform-origin: bottom;
	animation-name: flip-top;
}

@keyframes flip-top {
	0% {
		transform: rotateX(0deg);
	}

	50%,
	100% {
		transform: rotateX(90deg) skewX(-30deg);
	}
}

.new-top {
	z-index: 1;
}

.old-bottom,
.new-bottom {
	top: 50%;
	overflow: hidden;
	border-top: 0;
	border-radius: 0 0 0.15em 0.15em;

	&::before {
		position: absolute;
		left: 0;
		width: 100%;
		margin-top: -0.666em;
		text-align: center;
		content: attr(data-value);
	}
}

.old-bottom {
	z-index: 3;
}

.new-bottom {
	z-index: 4;
	transform: rotateX(90deg);
	transform-origin: top;
	animation-name: flip-bottom;
}

@keyframes flip-bottom {
	50% {
		transform: rotateX(90deg) skewX(30deg);
	}

	100% {
		transform: rotateX(0deg);
	}
}
