.bar {
	@extend %fabric;
	@extend %glass-top-bar;
	@extend %glass-bottom-bar;

	position: absolute;
	top: 12rem;
	left: 0;
	z-index: 501;
	width: 100%;
	min-height: 3rem;
	color: $color-white;
	animation-delay: 800ms;

	&--sticky {
		position: fixed;
		top: 0;
	}
}

.menu {
	@include from(medium) {
		display: flex;
	}
}

.routes {
	width: 100%;
	height: 0;
	overflow: hidden;
	transition: height 300ms;

	&--open {
		height: 24rem;
	}

	@include from(medium) {
		display: flex;
		height: 3rem;
	}
}

.route {
	display: block;
	flex-grow: 1;
	flex-shrink: 1;
	min-width: 0;
	height: 3rem;
	padding: 0.75rem 0.25rem;
	overflow: hidden;
	text-overflow: ellipsis;
	color: $color-gray-20;
	text-align: center;
	transition: color 200ms;

	&:hover {
		color: $color-white;
		text-decoration: none;
	}

	&--current {
		font-weight: bold;
		color: $color-primary;

		&:hover {
			color: $color-white;
		}
	}
}

.brand-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 3rem;

	@include from(medium) {
		display: none;
	}
}

.brand {
	height: 3rem;
	padding-top: 0.75rem;
	margin-right: 1rem;
	color: $color-white;

	&:hover,
	&:active {
		text-decoration: none;
	}
}

.mobile-toggle {
	@include from(medium) {
		display: none;
	}
}

.sticky-space {
	height: 3rem;
}
