.section {
	@extend %section;
	@extend %fabric;
}

.teaser {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	width: 100%;
	outline: 0;
	background: none;
	border: 0;

	&:hover {
		text-decoration: none;
	}

	@include from(medium) {
		flex-direction: row;
	}
}

.bubble {
	position: relative;
	align-self: flex-start;
	order: 1;
	padding: 1rem;
	color: $color-text;
	background: $color-gray-05;
	border-radius: $border-radius-medium;

	&::after {
		position: absolute;
		top: 100%;
		left: 1rem;
		width: 0;
		content: '';
		border-top: 0.5rem solid $color-gray-05;
		border-right: 0.5rem solid transparent;
		border-left: 0.5rem solid transparent;
	}

	span {
		color: $color-primary;
	}

	&--last {
		align-self: flex-end;
		order: 3;

		&::before {
			position: absolute;
			top: -0.5rem;
			right: 1rem;
			width: 0;
			content: '';
			border-right: 0.5rem solid transparent;
			border-bottom: 0.5rem solid $color-gray-05;
			border-left: 0.5rem solid transparent;
		}

		&::after {
			right: 1rem;
			left: auto;
			display: none;
		}

		@include from(medium) {
			order: 2;

			&::before {
				display: none;
			}

			&::after {
				display: block;
			}
		}
	}
}

.timeline {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	order: 2;
	width: 100%;
	height: 4.8rem;
	margin: 2rem 0;

	@include from(medium) {
		order: 3;
		margin: 2rem 0 0;
	}

	&::after {
		position: absolute;
		top: 1.3rem;
		left: 1rem;
		z-index: 0;
		width: calc(100% - 2rem);
		height: 0.3rem;
		content: '';
		background: $color-gray-10;
		border-radius: 0.15rem;
	}
}
